
.app {
  display: flex;
  flex-direction: column;
  color: rgba(175, 203, 220);
}
.appOpacity {
  opacity: 0;
}
.appHeader {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  background-color: rgb(191, 191, 191, 20%);
  box-shadow: 0 0 10px #232323;
}
.appHeader h1 {
  margin: 20px 0 20px 50px;
}

.navLinks {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  font-weight: 500;
  width: 110px;
  margin-left: 30px;
  align-items: center;
}
.navLinks a:hover {
  color: #83d6ef;
}

.link {
  display: flex;
  text-decoration: none;
  color: #cbe6f5;
}
.activeLink {
  display: flex;
  text-decoration: none;
  color: #51b6ef;
}

